<!DOCTYPE html>
<html>
  <head>
    <title>Aniflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/7b5c5cd4e8.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property='og:title' content="Aniflix"/>
    <meta property='og:image' content="<%= image_url('linked-homepage.png') %>"/>
    <meta property='og:description' content="A Netflix clone based on Anime built using Ruby on Rails, React/Redux, and PostgreSQL"/>
    <meta property='og:url' content="https://ani-flix.herokuapp.com/#/" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
